<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>
        assembleia
    </title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">Sessões de votação</h2>
        <br>
        <br>
        <div><a class="btn btn-success" href="./swagger-ui.html" role="button">Swagger</a></div>
    </div>
</div>
<footer style="position: absolute;bottom: 0;width: 100%;height: 60px;line-height: 60px;background-color: #f5f5f5;">
    <div class="footer-copyright text-center">
        Eduarda Ferreira
    </div>
</footer>
</body>
</html>